<ul class="font-xsmall">
    <li>
        <strong class="bold-xsmall">{{ content.email }}</strong><br>
        <a href="mailto:{{ content.divorceEmail }}">{{ content.divorceEmail | safe }}</a><br>
    </li>
    <li>
        <strong class="bold-xsmall">{{ content.phone }}</strong><br>
        {{ content.phoneNumber | safe }} <br>
        {{ content.openTimes | safe }} <br>
    </li>
    <li>
        {% if case.court[case.courts].serviceCentreName %}
        <strong class="bold-xsmall">{{ case.court[case.courts].serviceCentreName }}</strong><br>
        {% else %}
        <strong class="bold-xsmall">{{ content.yourCourt }}</strong><br>
        {% endif %}
        {{ content.careOf if case.court[case.courts].serviceCentreName }}{{ case.court[case.courts].divorceCentre | safe}} <br>
        {% if case.court[case.courts].poBox %}
        {{ case.court[case.courts].poBox | safe }}<br>
        {% endif %}
        {{ case.court[case.courts].courtCity | safe }}<br>
        {{ case.court[case.courts].postCode | safe }}<br>
    </li>
</ul>