<ul class="govuk-list govuk-body govuk-!-font-size-16 help">
    <li>
        <strong class="bold-xsmall">{{ content.email }}</strong><br>
        <a class="govuk-link" href="mailto:{{ content.divorceEmail }}">{{ content.divorceEmail | safe }}</a><br>
    </li>
    <li>
        <strong class="govuk-!-font-size-16">{{ content.phone }}</strong><br>
        {{ commonProps.en.courtPhoneNumber | safe }} <br>
        {{ commonProps.en.courtOpeningHours | safe }} <br>
    </li>
    <li>
        {% if case.court[case.courts].serviceCentreName %}
        <strong class="govuk-!-font-size-16">{{ case.court[case.courts].serviceCentreName }}</strong><br>
        {% else %}
        <strong class="govuk-!-font-size-16">{{ content.yourCourt }}</strong><br>
        {% endif %}
        {{ content.careOf if case.court[case.courts].serviceCentreName }}{{ case.court[case.courts].divorceCentre | safe}} <br>
        {% if case.court[case.courts].poBox %}
        {{ case.court[case.courts].poBox | safe }}<br>
        {% endif %}
        {{ case.court[case.courts].courtCity | safe }}<br>
        {{ case.court[case.courts].postCode | safe }}<br>
    </li>
</ul>
