{% extends "page.njk" %}

{% from "look-and-feel/components/progress-list.njk" import progressList %}
{% from "look-and-feel/components/document-list.njk" import documentList %}

{% block back %}
{% endblock %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block main_content %}
    <p class="font-xsmall">
        <strong class="bold-xsmall">{{ content.referenceNumber }}
            :</strong>&nbsp;&nbsp;&nbsp; {{ session.case.data.caseReference }}<br>
        <strong class="bold-xsmall">{{ content.name }}:</strong> &nbsp;&nbsp;
        {{ session.case.data.petitionerFirstName }} {{ session.case.data.petitionerLastName }}
    </p>

    {% include stateTemplate %}

    {% include pageContentTemplate %}

{% endblock %}

{% block one_third %}
<aside class="govuk-related-items" role="complementary">

    <h3 class="heading-small">{{ content.help }}</h3>

    {% include "includes/sideMenuCourtDetails.html" %}

    {% if (downloadableFiles.length > 0) %}
    <h3 class="heading-small">{{ content.downloadDocuments }}</h3>

    {{ documentList(downloadableFiles, content.files) }}

    {% endif %}

    {% include "includes/sideMenuGuidanceLinks.html" %}
    </aside>
{% endblock %}