{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons %}

{% set title %}
{{ content.title | safe }}
{% endset %}


{% block fields %}
    <p class="text">{{ content.body | safe }}</p>
    <br>
    {% call formSection() %}
        {{ selectionButtons(fields.applyForDA, content.fields.applyForDA.title,
            options = [
                { label: content.fields.applyForDA.yes, value: "yes" },
                { label: content.fields.applyForDA.no, value: "no", target: "no-container"}
            ],
        hint=false,
        hideQuestion=true,
        inline=true,
        type='radio'
        ) }}
    {% endcall %}

    <!-- Dropdown area if answered no -->
    <div class="js-hidden panel panel-border-wide" id="no-container">
    <p class="text">{{ content.signOutDetail | safe}}</p>
    </div>

{% endblock %}