{% extends "question.njk" %}

{% from "look-and-feel/components/fields.njk" import selectionButtons %}


{% set title %}
    {{ content.title | safe %}}
{% end set %}

{% block main_content %}


    {% call formSection() %}
        {{ selectionButtons(fields.applyForDecreeNisi, content.fields.applyForDecreeNisi.title,
        options = [
        { label: content.fields.applyForDecreeNisi.yes, value: "yes" },
        { label: content.fields.applyForDecreeNisi.no, value: "no", target: "no-container"}
        ],
        hint=false,
        hideQuestion=true,
        inline=true,
        type='radio'
        ) }}
    {% endcall %}

    <!-- Dropdown area if answered no -->
    <div class="js-hidden panel panel-border-wide" id="no-container">
    <p class="text">{{ content.signOutDetail | safe}}</p>
    </div>