{% extends "page.njk" %}

{% block back %}{% endblock %}

{% block proposition_header %}{% endblock %}

{% set title %}
  {{ content.title | safe}}
{% endset %}

{% block main_content %}
  <p class="govuk-body">{{ content.youCanApplyForYourDaAnytimeFromNow | safe }}</p>
  <p class="govuk-body">{{ content.theCourtCanCancelTheDN | safe }}</p>
  <br>
  <h3 class="govuk-heading-m">{{ content.whenYourDivorceWhoCanApply | safe }}</h3>
  <p class="govuk-body">{{ content.yourDivorceWhoCanApplyForTheDaFrom | safe }}</p>
  <p class="govuk-body">{{ content.signInToReturnToApplication | safe }}</p>
{% endblock %}

{% block fields %}{% endblock %}