tags:
  - idam-pr
  - pr

idam-pr:
  redirect_uris:
    divorce:
      - https://${SERVICE_FQDN}/authenticated

nodejs:
  environment:
    BASE_URL: "https://${SERVICE_NAME}.service.core-compute-preview.internal"
    PUBLIC_HOSTNAME: "https://${SERVICE_NAME}.service.core-compute-preview.internal"
    FEATURE_ANTENNA_WEBCHAT: "true"
    FEATURE_ANTENNA_WEBCHAT_USER_ATTRIBUTE: "true"
    FEATURE_PING_REDIS: "true"
    REDISCLOUD_URL: "redis://${SERVICE_NAME}-redis-master:6379"
    ANTENNA_WEBCHAT_URL: "webchat-client.pp.ctsc.hmcts.net"
    ANTENNA_WEBCHAT_SERVICE: "Divorce"
    ANTENNA_WEBCHAT_VERSION: "1"
    ANTENNA_WEBCHAT_AVAILABILITY_DEBUG: "true"
    FEATURE_ANTENNA_WEBCHAT_AVAILABILITY_TOGGLE: "true"
    FEATURE_DYNATRACE: "false"

  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  keyVaults:
    div:
      secrets:
        - session-secret
        - redis-secret
        - idam-secret
